<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
    </listeners>
    <test name="UI_tests.KapschSmokeTest">
        <classes>
            <class name="UI_tests.KapschSmokeTest"/>
        </classes>
    </test>
</suite>