/.idea/git_toolbox_prj.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_05_02_2024_16_19_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_05_02_2024_16_19_[Default_Changelist]/shelved.patch
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_05_02_2024_16_19_[Default_Changelist]/shelved.patch
