##### SISTEM UNDER TEST
ecommerce_url=http://automationpractice.com/index.php

##### Execution variables
mantisIntegration=off
slackIntegration=off
uploadLog=off
uploadScreenshot=off
uploadReport=off

##### DATABASE connection
# Remotemysql.com (martin_tellechea@hotmail.com / trinity110) -  These are the username and password to log in to your database and phpMyAdmin
DBfree_url=remotemysql.com:3306/ufTWzK0b6m
DBfree_user=ufTWzK0b6m
DBfree_pass=0ZijF1ywFU

##### BROWSERS
browsers=CHROME
#,FIREFOX,EDGE,CHROME

#####  LOG4J PARAMETERS
log4j_appender=consoleAppender
#consoleAppender
#fileAppender

#For Printing message with date , time & class name also
#"%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n"

#For printing message only
#"%-5p[%c{1}]: %m%n"
log4j_layout=

##### Mantis
mantis_URL=http://automationcampus.com.ar/mantis
mantis_Host=automationcampus.com.ar
mantis_Token=nU1Dt9Ldr-2Y6ox-XTBFwmPneUJVoSEt

##### FTP  (el que uso para Mantis)
ftp_Host=automationcampus.com.ar
ftp_User=automati
ftp_Pass=1*dhht7Y[YP4Y7
ftp_URL=https://automationcampus.com.ar

##### CI
CI_url=https://app.circleci.com/pipelines/github/martinhel2001

##### Slack
slack_Token=xoxb-2835256584579-2832653447381-Q7xdoEQZZVva0AJ1vB967X1w
slack_Channel=#ci-runs